In [72]:
import pandas as pd
import scipy.io as sp
import numpy as np

# import os
# import sys
# import napari
# from napari.utils import nbscreenshot
# import imageio

# from skimage.io import imread
# from skimage.measure import regionprops_table
# import skimage as ski


# %matplotlib widget

In [73]:
database_name = "zebrafish_animal_a.mat"
variable_name = "embryo"
path = "./movie_07_animal_hemisphere_microscopy.avi"

In [74]:
database_contents = sp.loadmat(database_name)
embryo_timepoints = database_contents.get(variable_name)

In [81]:
# Specification of data set 2 Reconstruction of the zebrafish animal hemisphere (A):

# 1. There are 1456 cells. Each cell corresponding to timepoint.
# 2. Each cell consist of two-dimensional(N,M) parameter table.
# 3. Each table has N-rows (being number of nuclei at timepoint Ti) and 17 columns)

def _database_description(data, time_point):
    n_cells = data.shape[0]
    print(f"Number of time-points/cells in the dataset : {n_cells}")
    
    if time_point >= n_cells:
        raise IndexError(f"The `time_point` must be less than {n_cells}")
        
    nth_cell = data[time_point][0]
    nth_cell_dim = nth_cell.ndim
    nth_cell_shape = nth_cell.shape
    print(f"The shape and dimension of timepoint/cell-{time_point}, corresponds to : {nth_cell_shape} and {nth_cell_dim} respectively")
    
    nth_num_nuclei = len(nth_cell)
    print(f"Nucleic count at time-points/cell number-{time_point} : {nth_num_nuclei}\n")
    return nth_cell

In [82]:
cell = _database_description(embryo_timepoints, 50)

Number of time-points/cells in the dataset : 1456
The shape and dimension of timepoint/cell-50, corresponds to : (277, 17) and 2 respectively
Nucleic count at time-points/cell number-50 : 277

The result obtained for Nucleic count at time-point `50` from the function matches with what is shown in Figures 3, S3 and S6b of the supplementary material PDF file.
Note time(min) `100` in the supplementary material is equivalent to `time_point` 0 in our function.

### Each cell data overview at specific timepoint.

Load the dataset into a dataframe.

In [83]:
cell_df = pd.DataFrame(cell, index=range(1, len(cell)+1), columns=range(1, len(cell[0])+1))
cell_df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
1,961.680076,619.814544,303.999064,4121.338013,5067.989600,956.0,615.0,301.0,968.0,625.0,309.0,954.0,613.0,293.0,970.0,628.0,313.0
2,949.308421,413.404384,316.814527,4380.846268,4782.607661,944.0,407.0,309.0,955.0,419.0,325.0,942.0,405.0,305.0,958.0,421.0,329.0
3,967.265672,500.373109,320.474100,5239.577367,7065.663171,960.0,495.0,313.0,973.0,504.0,325.0,960.0,495.0,309.0,975.0,505.0,329.0
4,929.472134,337.138201,328.983790,2183.448860,2735.730308,925.0,331.0,325.0,934.0,343.0,337.0,924.0,330.0,321.0,936.0,345.0,341.0
5,830.691182,227.274413,349.943945,778.511193,792.180899,827.0,221.0,329.0,835.0,233.0,369.0,824.0,220.0,321.0,837.0,231.0,389.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,482.266750,344.151827,704.963038,3526.556018,4251.206810,476.0,340.0,701.0,489.0,348.0,709.0,474.0,338.0,697.0,490.0,349.0,717.0
274,508.739800,427.095931,705.128089,8134.063256,10509.927947,501.0,419.0,701.0,513.0,436.0,709.0,500.0,418.0,697.0,517.0,438.0,713.0
275,571.631342,464.193770,705.606999,7029.198164,11464.481328,568.0,455.0,701.0,576.0,473.0,709.0,568.0,457.0,697.0,575.0,472.0,713.0
276,541.509635,379.567989,707.340877,4001.450901,4147.878867,535.0,371.0,701.0,547.0,387.0,713.0,534.0,372.0,701.0,559.0,389.0,717.0
277,609.485595,406.288164,710.681265,5242.371141,7237.876409,605.0,400.0,701.0,616.0,413.0,717.0,604.0,401.0,701.0,614.0,412.0,721.0